
# Ignore it all
*

# Whitelist

!README.md
!vimrc
!i3/config.desktop
!i3/config.default
!i3/config.laptop
!i3/config
!nvim/init.vim
!termite/config
!i3status_rust/config.toml.desktop
!i3status_rust/config.toml.laptop
!zsh/.fzf.zsh
!zsh/.zshrc
!key_map
!terminology/*
