
# Ignore it all
*

# Whitelist

!pkgs
!install.sh
!README.md
!vimrc
!powerline-rs
#!awesome
#!awesome/**
!zsh
!zsh/.fzf.zsh
!zsh/.zshrc
!zsh/zshrc
!zsh/zplug.sh
!zsh/linux.sh
!zsh/macos.sh
!rofi
!rofi/*
!luakit
!luakit/*

!waybar
!waybar/*
!sway
!sway/*
!kanshi
!kanshi/*

!alacritty
!alacritty/*
!bin
!bin/get_xwayland_output
!bin/sway_rofi
!tmux
!tmux/tmux.conf


!nvim
!nvim/*
!nvim/init.vim
!nvim/coc-settings.json
!nvim/syntax/capnp.vim
!nvim/syntax/mdown.vim
!nvim/ftplugin/html.vim
!nvim/ftplugin/haskell.vim
!nvim/ftplugin/javascript.vim
!nvim/ftplugin/typescript.vim
!nvim/ftplugin/mdown.vim
!nvim/ftplugin/c.vim
!nvim/ftplugin/vue.vim
!nvim/ftplugin/rust.vim

!lvim
!lvim/**
