
# Ignore it all
*

# Whitelist

!pkgs
!install.sh
!README.md
!vimrc
!powerline-rs
#!awesome
#!awesome/**
!zsh
!zsh/.fzf.zsh
!zsh/.zshrc
!zsh/zshrc
!zsh/zplug.sh
!zsh/linux.sh
!zsh/macos.sh
!zsh/zinit.sh
!zsh/ssh-agent.sh

!rofi
!rofi/*
!luakit
!luakit/*

!waybar
!waybar/*
!sway
!sway/*
!kanshi
!kanshi/*

!alacritty
!alacritty/*
!bin
!bin/get_xwayland_output
!bin/sway_rofi
!tmux
!tmux/tmux.conf

!hypr
!hypr/*

!nvim
!nvim/**

!lvim
!lvim/**
